*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

.initilizing *{
    animation: initilizing-blink infinite alternate 2s;
}

@keyframes initilizing-blink {
    0% {
        color: white;
    }
    100%{
        color: black;
    }
}